.nav {float: left;}
.imgWrap {float: right;}
li {list-style: none;}
.imgWrap, .nav {width:40%;}

@media only screen and (min-width: 480px) {}
@media only screen and (min-width: 768px) {
  .nav li {
    display: inline-block;
  }
  .imgWrap, .nav {
    float: none;
    margin: 0 auto;
  }
  .nav {
    text-align: center;
  }
}
@media only screen and (min-width: 992px) {
  .nav {
    position: fixed;
    top: 0;
    left: 25%;
  }
  img {
    display: block;
  }
  .imgWrap{
    margin-top: 120px;
    width: 100%;
  }
  img:first-child {
    display: block;
    float: left;
    width: 33%;
  }
  img:nth-child(2) {
    clear: both;
    width: 33%;
    margin: 0 auto;
  }
  img:nth-child(3) {
    float: right;
    width: 33%;
  }
}
@media only screen and (min-width: 1200px) {}
